/* styles.css */

.container {
  margin-top: 50px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-body {
  padding: 30px;
}

.card-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.form-select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ced4da;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ced4da;
}

.btn-primary {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-primary:focus {
  background-color: #0056b3;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}
/* Add this CSS to your Rorder.css file */
.prediction-result-container {
  margin-top: 20px;
}

.prediction-result-card {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.prediction-result-header {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.prediction-result-title {
  margin-bottom: 20px;
}

.restaurant-list {
  list-style: none;
  padding-left: 0;
}

.restaurant-item {
  margin-bottom: 20px;
}

.restaurant-item p {
  margin-bottom: 5px;
}

.restaurant-details {
  margin-left: 20px;
}

.restaurant-details p {
  margin-bottom: 5px;
}

.prediction-details {
  margin-top: 20px;
}

.prediction-details h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}
